body{
  background-image: url('./background-circles.png');
  background-size: 108%;
  background-position-x: -27px;
  background-position-y: -37px;
  background-repeat: no-repeat;
}

.Register {

  background:#fff ;
  width: 25rem;
  margin: 3rem auto;
  border-radius: 1rem;
}

.Register h4{
  text-align: center;
  padding: 2rem 3.5rem 1rem 3.5rem;
  border-bottom: 1px solid #ccc;
  opacity: 80%;
}
.Register h5{
  text-align: left;
  padding: 1.5rem 3.5rem 2rem 5rem;  
}
.Form-Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem ;
}
/* Text Fields */
.Form-Set label{
  display: block;
  margin-bottom: 0.7rem;
}
.Form-Set {
  width: 15rem;
  margin:auto;
  padding-bottom :0.7rem ;

}
.Form-Text input{
  margin-left: 0.5rem;
  border: none;
  background-color: #F1E8E6;
  width: 12rem;
  font-size: 13px;
}
.Form-Text{
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #F1E8E6;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-verify{
  background-color: #FFFFFF;
  height: 15rem;
  width: 29rem;
  margin: auto;
  margin-top: 8rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #FB5951;
  border-width: 1px;
  padding: 20px;
  padding-bottom: 1px;
}
.modal-verify h4{
  text-align: left;
}

.modal-verify p{
  margin-top: 10px;
}
.modal-verify button{
  width:7rem;
  padding: 0.5rem;
  background-color: #F77871;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: grey 0px 3px 6px, grey 0px 3px 6px;
  margin-left: 15rem;
  margin-top: 2rem;
}

.Register-Button{
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #F77871;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  align-self: flex-end;
  margin: 1rem 5rem 1rem 0;
  width: 90px;
  display: flex;
  justify-content: space-between; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal-verify input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FB5951;
  padding: 10px;
  font-size: large;
  width: 10rem;
  margin-left: 7rem;
} 