.NavMain{
  height: 5rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.NavMain ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  color: inherit;
  text-decoration: inherit;
}

.NavMain li{
  padding: 0 1.5rem;
  font-size: 17px;
}

.Tasks{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* List */

.Tasks-List{
  background-color: white;
  max-height: 470px;
  flex: 1;
  border-radius: 10px;
  padding: 2rem 0;
  margin-right: 4rem;
}

.Tasks-List h4{
  margin-bottom: 2rem;
}

.Tasks-List ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type : none;
}

.Tasks-List ul li{
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #FBEFE8;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 150px;
  margin-bottom: 1rem;
  
}

.Tasks-List ul li.selected{
  background-color: #F77871;
}
/* Desc And Add Container */

.Tasks-Info{
  height: 470px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Tasks-Info h4{
  text-align: center;
  padding: 0.5rem;
}


/* Desciption */

.Tasks-Description{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  max-height: 200px;
}

.Description-Text{
  margin: 1rem auto;
  border-radius: 5px;
  border: none;
  background-color: #FBEFE8;
  padding: 0.5rem;
  width: 70%;
  
}

.Desc-Buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Desc-Remove,
.Desc-Done{
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #A1DD70;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 155px;
  display: flex;
  justify-content: space-between; 
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.Desc-Remove{ 
  background-color: #F77871;
}
/* Add */

.Tasks-Add{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.Add-Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}


.Add-Set{
  width: 350px;
  margin: 0 auto;
  padding-bottom :1rem ;

}
.Add-Content input,
.Add-Content textarea{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: block;
  border-radius: 5px;
  border: none;
  background-color: #FBEFE8;
  padding: 0.5rem;
  width: 70%;
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.Add-Content textarea{
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  font-size: 14px;
}

.Add-Button{
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #A1DD70;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: 36.5rem;
}

/* Completed */

.completed{
  text-decoration: line-through;
}

.modal{
  background-color: #FFFFFF;
  height: 28rem;
  width: 26rem;
  /* margin: 27rem; */
  margin: auto;
  margin-top: 5rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #FB5951;
  border-width: 1px;
  padding: 20px;
  font-family: Helvetica;
  padding-bottom: 1px;
  /* text-align: center; */
}
.close{
  margin: 38rem;
  margin-top: 1rem;
  background-image: url('./multiply.png');
  background-size: 100%;
}
.modal h3,h4{
  text-align: center;
}
.heading p{
  text-align: center;
}
.heading hr{
  opacity:30%;
}
.form-main{
  margin-left: 3.5rem;
}
.form-main p{
  padding-bottom: 0.7rem;
}

.form-main input{
  margin-bottom: 1.2rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #F1E8E6;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 17rem;
  font-size: 14px;
}
.form-main ::placeholder{
  font-size: 12px;
}
.edit-Button{
  width:7rem;
  padding: 0.5rem;
  background-color: #F77871;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: grey 0px 3px 6px, grey 0px 3px 6px;
  margin-top: 1.5rem;
  margin-left: 10rem;
}
.modal-delete{
  background-color: #FFFFFF;
  height: 10rem;
  width: 26rem;
  margin: auto;
  margin-top: 4rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #FB5951;
  border-width: 1px;
  padding: 20px;
  padding-bottom: 1px;
}
.modal-delete h3{
  margin-top: 15px;
  text-align: center;
}
.modal-delete button{
  width:7rem;
  padding: 0.5rem;
  background-color: #F77871;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: grey 0px 3px 6px, grey 0px 3px 6px;
  margin-left: 15rem;
  margin-top: 2rem;
}
.main-view{
  padding: 2rem 2rem 2rem 2rem;
  
}
.text-area{
  padding-bottom: 1rem;
}
.text-area .col-1{
  width:20%;
  display:inline-block;
  box-sizing:border-box;
  text-align:left;
  font-style: italic;
}
.text-area .col-2{
  display: inline-block;
}
.view-header hr{
  opacity: 60%;
}
.modal-view {
  background-color: #FFFFFF;
  height: 26rem;
  width: 26rem;
  /* margin: 27rem; */
  margin: auto;
  margin-top: 5rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #FB5951;
  border-width: 1px;
  padding: 20px;
  font-family: Helvetica;
  padding-bottom: 1px;
}
.modal-view h3{
  text-align: center;
  padding-top: 0.5rem;
}

input[type="file"] {
  display: none;
}

.modal-view img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1rem;
  border-radius: 50%;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}
.middle{
  transition: .5s ease;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%;
  font-weight: bold;
}
.custom-file-upload:hover img {
  opacity: 0.3;
}

.custom-file-upload:hover .middle {
  opacity: 1;
}
